
/* General */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.7;
    font-family: 'Open Sans', serif;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    color: #313131;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}



.btn{
    padding: .8rem 2rem;
    outline: none;
    border: none;
    border-radius: 27px;
    cursor: pointer;
    font-family: 'Nunito';
    font-weight: bold;    
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.btn-add{
    background-color: #fe5196;
    color: #fff;
    float: right;
    transition: .5s ease-in-out all;
}

.btn-add:hover{
    cursor: pointer;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
}

.control-group{
    margin-bottom: 1.5rem;
}

form .control-group label{
    font-size: .9rem;
    font-family: 'Nunito';
    font-weight: bold;
    display: block;
}

form .control-group input{
    font-size: .9rem;
    font-family: 'Nunito';
    font-weight: bold;
    display: block !important;
    width: 100% !important;
    padding:.6rem 1rem;
    border: none;
    background-color: #F2F2F2;
    outline: none;
    margin-top: .3rem;
    border-radius: 27px;
}

.error-input{
    color: #F7003C;
    font-size: .7rem;
    margin-top: .4rem;
    margin-left: .4rem;
}
 



/* 

Toastify 

 */

 
.Toastify__toast--success {
    background-color: #11FF71 !important;
    color: #191919;
} 


/* Main Container */

.main-container{
    margin:auto;
    max-width: 1010px;     
    background-color: #fff;    
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 25px;
    margin: 5rem auto;
}

.main-wrapper{
    width: 100%; 
    max-width: 100%;
    display: grid;
    justify-content: space-between !important;
    grid-template-columns: 1.5fr 5fr;
}
  

#main-content, #sidebar-nav{
    padding: 2rem
}


/* Sidebar */

#sidebar-nav .category-menu{
    text-transform: uppercase;
    color: #DDDDDD;
    font-size: 1.2rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

#sidebar-nav .discover li{
    margin: .8rem 0;    
}
  
#sidebar-nav .discover li .discover-link{   
    color: #161707;
    font-size: .9rem;
    font-weight: 650;
    transition: .3s ease-in-out all;
    display: inline-block;
    vertical-align: middle;
}


#sidebar-nav .discover li .discover-link:hover{ 
     opacity: .7;
     cursor: pointer;
}

#sidebar-nav .discover li.active > *{
    color: #fe5196  !important;
}

#sidebar-nav .discover li > i{
    vertical-align: middle; 
    margin-right: 1rem;
}



#sidebar-nav .site-brand{
    font-size: 1.6rem;
    font-weight: 900;
    font-family: 'Nunito', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}
#sidebar-nav .site-brand i{
    font-size: 1.4rem;    
}


/* Main Content : Search Bar */

#main-content .header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;      
}

#main-content .header-wrapper input {
    outline: none;
    padding: 1rem 1rem 1rem 2.2rem;
    border: none;
    color: #313131;
    font-family: 'Nunito';
    font-weight: bold;
    font-size: 1rem;
}

#main-content .header-wrapper input::placeholder {
    font-family: 'Nunito';
    font-weight: bold;
    font-size: 1rem;
    color: #98A3AF;
   
}

#main-content .header-wrapper .searchbar-wrapper{
    position: relative;
}

#main-content .header-wrapper .searchbar-wrapper i{
    position: absolute;
    left: 10px;
    top: 20px;
    color: #98A3AF;
}

#main-content .header-wrapper .user-menu .user-menu-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
}

#main-content .header-wrapper .user-menu .user-menu-wrapper .user-pic{
    border-radius: 50%;
    width: 30px;
}

#main-content .header-wrapper .user-menu .user-menu-wrapper .user-name{
    font-size: .8rem;
    font-weight: 650;
}
 

/* Main Content: Top Recipes */
 
 
#main-content .daily-recipes-title{
    font-size: 1.2rem;
    color: #313131;
    font-weight: 900;
    font-family: 'Nunito';
    margin-bottom: 1rem;
}
 
#main-content .daily-recipes  {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
}

#main-content .daily-recipes  .daily-recipe-box{
    background-color: #E3FBEC;    
    border-radius: 27px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    padding-bottom: .2rem;
}

#main-content .daily-recipes  .daily-recipe-box > i{
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    font-size: 1.5rem;
    transition: .3s ease-in-out opacity;
    
}

#main-content .daily-recipes  .daily-recipe-box > i:hover{
    opacity: .7;
    cursor: pointer;
}
 
 

#main-content .daily-recipes  .daily-recipe-box img{ 
    max-width:100%; 
    height:auto; 
    border-top-right-radius: 27px;
    border-top-left-radius: 27px;
} 

#main-content .daily-recipes  .daily-recipe-box p{    
    color: #313131;
    font-weight: bold;
    font-size: .9rem;   
    text-align: center;
    
    padding: 0 .3rem .5rem .3rem;
    transition: ease-in-out opacity 300ms;
    font-family: 'Nunito';
     
}

#main-content .daily-recipes  .daily-recipe-box p:hover{ 
    opacity: .7;
    cursor: pointer;
}

#main-content .add-recipe-form{
    width: 100%;
}


#main-content .recipe-detail-image img{
    display: block;
    max-width:800px;
    max-height:500px;
    width: auto;
    height: auto;
    margin: 2rem 0;
}

#main-content .details-subtitle{
    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: .8rem;
}

#main-content .recipe-information ul li{
    font-size: .9rem;
    line-height: 1.7;
    padding: .5rem 0;
}

#main-content .recipe-information ul li > i{
    margin-right: .5rem;
    color: #E7EBEF;
    font-size: .8rem;
}

#main-content .recipe-information{
    margin-bottom: 3rem;
}
 

.divider i{
    font-size: 1rem;
}
 
.divider:before,
.divider:after {
    background-color: #313131;
    content: "";
    display: inline-block;
    height: 3px;
    position: relative;
    vertical-align: middle;
    width: 50%;
    margin: .5rem;
}
.divider:before {
    /* right: 0.1em; */
    margin-left: -50%;
}
.divider:after {
    /* left: 0.1em; */
    margin-right: -50%;
}


/* Responsive */


@media(max-width: 996px){
    
     
    .main-container{
        margin-left: 2rem;    
        margin-right: 1.5rem;    
        
    }
   
     
}


@media(max-width: 760px){
    
    #main-content .daily-recipes  {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
 
    #sidebar-nav{
        position: absolute;
        left: -999px;
        top: 0;
        
    }
    
    .main-wrapper{
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        
    }

        
    #main-content .daily-recipes  .daily-recipe-box img{ 
        max-width:100%; 
        height:auto; 
        border-top-right-radius: 27px;
        border-top-left-radius: 27px;
    } 

    .btn-add{
        display: block !important;
        width: 100% !important;

    }
        
  
}

 